{% extends 'Home Feed.html' %}
{% block content %}

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% for item in catalogue %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ item["name"] }}</h3>
          <hr/> 
          <div class="tags">
            <div class="info-tags">
            <div><span class="badge bg-info"><b>Requested By :</b> {{ item.to_user }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Lended By :</b> {{ item.from_user }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Karmas Offered :</b> {{ item.karmaoffered }}</span></div>
            </div>
            <div><button class="btn btn-primary lend-btn">Status</button></div>

          </div>
        </div>
      </div>
    <br/>
    {% endfor %}
  </div>
  <div class="col-md-3"></div>
</div>

{% endblock %}