{% extends 'Home Nav.html' %}
{% block content %}


<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% if catalogue is defined and catalogue[0] is defined  %}
    {% for item in catalogue %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ item["name"] }}</h3>
          <hr/>
          <p class="card-text">{{ item["description"] }}</p>
          <p class="card-text">Requested By : {{ item["mailid"] }}</p>
          <div class="tags">
            <div class="info-tags">
            <div><span class="badge bg-info"><b>Category:</b> {{ item.category }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Location:</b> {{ item.location }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Karmas:</b> {{ item.tender }}</span></div>
            </div>
            <div><button class="btn btn-primary btn-xl" id=" {{ item.unqid }} " onclick()="function(this.id)">Lend</button></div>

          </div>
        </div>
      </div>
    <br/>
    {% endfor %}
    {% else %}

        <div class="card">
        <div class="card-body">

              <p class="card-text">No data to Show</p>

        </div>
      </div>

    {% endif %}
  </div>
  <div class="col-md-3"></div>
</div>

 <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
   <script type="text/javascript">
      
        $(function() {
    $('button').click(function(e){
      e.preventDefault();
      console.log(this.id);
      let val=this.id;

        var log_data=[
              {'unqid':val}
           ];

          $.ajax(
            {
              type: "POST",
              url: "./lending",
              data : JSON.stringify(log_data),
              contentType : "application/json",
              dataType : 'json',
              success : function(resp) {
                console.log("Result-->>",resp); 
                if(resp[1]=="success")    
                {
                	swal("Olah,You helped your friend","","success");
                  for(let i=1;i<2;i++)
                  {
                    setTimeout(function timer() {
                      window.location.href="HomeFeed";
                    }, i*1200);
                  }
                }
                else if(resp[1] == "failed1")
                {
                	swal("Oops,You having less karma","","success");	
                }
                else if(resp[1] == "failed2")
                {
                  swal("Ohh!! Borrower lack of karma","","info")
                }
              },
              error : function(err) {
                console.log("Error-->>",err);

              }
            }
          );



    });
  });

    </script>

{% endblock %}