{% extends 'Home Nav.html' %}
{% block content %}

  <script type="text/javascript">
    
      function myDelete(unqid) {
        
        $.ajax(
            {
              type: "POST",
              url: "./deleteLendStuff",
              data : JSON.stringify([{'unqid':unqid}]),
              contentType : "application/json",
              dataType : 'json',
              success : function(resp) {
                console.log("Result-->>",resp); 
                if(resp[1] == "success")
                {
                  swal("Lend Stuff request has been deleted","","success");
                  for(let i=1;i<2;i++)
                  {
                    setTimeout(function timer() {
                      window.location.href="MyLendStuff";
                    }, i*1200);
                  }
                }
              },
              error : function(err) {
                console.log("Error-->>",err);

              }
            }
          );

      }

  </script>

<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    {% if catalogue is defined and catalogue[0] is defined  %}
    {% for item in catalogue %}
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">{{ item["name"] }}</h3>
          <hr/>
          <p class="card-text">{{ item["description"] }}</p>
          <p class="card-text" id={{ item.unqid }}></p>
          <div class="tags">
            <div class="info-tags">
            <div><span class="badge bg-info"><b>Category:</b> {{ item["category"] }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Location:</b> {{ item["location"] }}</span>&nbsp;</div>
            <div><span class="badge bg-info"><b>Karmas:</b> {{ item["tender"] }}</span></div>
            </div>
            <div><button class="btn btn-primary lend-btn" onclick="myDelete({{ item.unqid }})">Delete</button></div>
          </div>
        </div>
      </div>
    <br/>
    {% endfor %}
    {% else %}

        <div class="card">
        <div class="card-body">

              <p class="card-text">No data to Show</p>

        </div>
      </div>

    {% endif %}
  </div>
  <div class="col-md-3"></div>
</div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>




{% endblock %}