<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login/Register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./styles/style1.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
			


<body >


	 <div class="parent-container">
	 	<br>
		<br>
		<br>
		<br>

        <div class="login-signup-container">

            <div class="titles">
                <div class="title register-title" id="signup-title"><p>SIGN UP</p></div>
                <div class="title login-title" id="login-title"><p>LOGIN</p></div>
            </div>

            <form class="form register-form" id="register-form">

                <input class="form-control" type="text" name="name" placeholder="Name" required>
                <input class="form-control" type="email" name="email" placeholder="Email" onchange="validateEmail(this.value)" required> 
                <input class="form-control" type="password" name="passcode" placeholder="Password" required> 
                <input class="form-control" type="text" name="location" placeholder="Location" required> 
                <input class="form-control" type="text" name="phno" placeholder="Phone Number" required> 
                
                <button class="btn btn-primary" id = "1" onclick()="function(this.id)">Sign Up</b></button>

            </form>

            <form class="form login-form" id="login-form">

                <input class="form-control" type="email" name="email" placeholder="Email" required> 
                <input class="form-control" type="password" name="passcode" placeholder="Password" required> 
                
                <button class="btn btn-primary" id="2" onclick()="function(this.id)"><b>Log In</b></button>

            </form>

        </div>
    </div>

    <!-- Bootstrap Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='/js/js1.js') }}"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

		<script>
		  function recordData (data) {
		    console.log(data.city+" "+data.country)
		    document.getElementsByName('location')[0].value = data.city+", "+data.country;
		  }
				</script>
		<script src="https://ipinfo.io/json?token=15f59f95bfbcd7&callback=recordData"></script>	

	<script type="text/javascript">
		
		function validateEmail(val){
			var mail_data=[
				{'email':val}
			];

			$.ajax(
						{
							type: "POST",
							url: "./check_user",
							data : JSON.stringify(mail_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 

								if(resp[1]=="exists")
								{
									swal("User already Exists","","info");
								}	 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}

						}
					);

		}

	</script>

	<script type="text/javascript">
		$(function() {
		$('button').click(function(e){
	    e.preventDefault();
	    console.log(this.id);
	    if (this.id == "1")
	    {			
	    			let nm=document.getElementsByName('name')[0].value;
		    		let ml=document.getElementsByName('email')[0].value;
					let ps=document.getElementsByName('passcode')[0].value;
					let lc=document.getElementsByName('location')[0].value;
					let ph=document.getElementsByName('phno')[0].value;
					

					if(nm == "" || ml == "" || ps == "" || lc == "" || ph == "")
					{
						swal("Data Invalid","Please Fill All The Fields, Amigo","error");
					}
					else
					 {
					 var log_data=[
					 {'name':nm},
					 {'email':ml},
					 {'passcode':ps},
					 {'location':lc},
					 {'mobile':ph}
					 ];

					$.ajax(
						{
							type: "POST",
							url: "./register",
							data : JSON.stringify(log_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 
								if(resp[1]=="exists")
								{
									swal("User already Exists","","error");
								}
								else
								{
									swal("Registered Successfully","","success");
									for(let i=1;i<2;i++)
									{
										setTimeout(function timer() {
											window.location.href="signing";
										}, i*1200);
									}
								}	 		 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}
						}
					);
				}

	    }
	    else{
				    let ml=document.getElementsByName('email')[1].value;
					let ps=document.getElementsByName('passcode')[1].value;
					 console.log(ml,ps);
					 if(ml == "" || ps == "")
					{
						swal("Data Invalid","Please Fill All The Fields, Amigo","error");
					}
					else
					 {
					 
					 var log_data=[
					 {'email':ml},
					 {'passcode':ps}
					 ];

					$.ajax(
						{
							type: "POST",
							url: "./login",
							data : JSON.stringify(log_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 	
								if(resp[1]=="success")
								{
									swal("Logging In ","","success");
									for(let i=1;i<2;i++)
									{
										setTimeout(function timer() {
											window.location.href="HomeFeed";
										}, i*1000);
									}
									
								}	
								else{
									swal("Logging In Failed","","error");
								} 	 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}
						}
					);
				}
			}

		});
	});

	</script>


</body>
</html>