<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Login/Register</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='./styles/style1.css') }}">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script type="text/javascript">
		$(function() {
		$('button').click(function(e){
	    e.preventDefault();
	    console.log(this.id);
	    if (this.id == "1")
	    {			
	    			let nm=document.getElementsByName('name')[0].value;
		    		let ml=document.getElementsByName('email')[0].value;
					let ps=document.getElementsByName('passcode')[0].value;
					let lc=document.getElementsByName('location')[0].value;
					let ph=document.getElementsByName('phno')[0].value;
					 
					 var log_data=[
					 {'email':ml},
					 {'passcode':ps},
					 {'name':nm},
					 {'location':lc},
					 {'mobile':ph}
					 ];

					$.ajax(
						{
							type: "POST",
							url: "./register",
							data : JSON.stringify(log_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 	 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}
						}
					);

	    }
	    else{
				    let ml=document.getElementsByName('email')[1].value;
					let ps=document.getElementsByName('passcode')[1].value;
					 console.log(ml,ps);
					 
					 var log_data=[
					 {'email':ml},
					 {'passcode':ps}
					 ];

					$.ajax(
						{
							type: "POST",
							url: "./login",
							data : JSON.stringify(log_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 	 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}
						}
					);
			}

		});
	});

	</script>
</head>
<body >

	 <div class="parent-container">

        <div class="login-signup-container">


            <div class="titles">
                <div class="title register-title" id="signup-title"><p>SIGN UP</p></div>
                <div class="title login-title" id="login-title"><p>LOGIN</p></div>
            </div>

            <form class="form register-form" id="register-form">

                <input class="form-control" type="text" name="name" placeholder="Name">
                <input class="form-control" type="email" name="email" placeholder="Email" onchange="validateEmail(this.value)"> 
                <input class="form-control" type="password" name="passcode" placeholder="Password"> 
                <input class="form-control" type="text" name="location" placeholder="Location"> 
                <input class="form-control" type="text" name="phno" placeholder="Phone Number"> 
                
                <button class="btn btn-primary" id = "1" onclick()="function(this.id)">Sign Up</b></button>

            </form>

            <form class="form login-form" id="login-form">

                <input class="form-control" type="email" name="email" placeholder="Email"> 
                <input class="form-control" type="password" name="passcode" placeholder="Password"> 
                
                <button class="btn btn-primary" id="2" onclick()="function(this.id)"><b>Log In</b></button>

            </form>

        </div>
    </div>

    <!-- Bootstrap Files -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="{{ url_for('static',filename='/js/js1.js') }}"></script>

	<script type="text/javascript">
		
		function validateEmail(val){
			var mail_data=[
				{'email':val}
			];

			$.ajax(
						{
							type: "POST",
							url: "./check_user",
							data : JSON.stringify(mail_data),
							contentType : "application/json",
							dataType : 'json',
							success : function(resp) {
								console.log("Result-->>",resp); 	 	
							},
							error : function(err) {
								console.log("Error-->>",err);

							}
							
						}
					);

		}

	</script>


</body>
</html>