{% extends 'Home Feed.html' %}
{% block content %}


<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-6">
		

		<div class="card">

			<div class="card-body">
				
				<form>
				  <div class="mb-3">
				    <label for="productName" class="form-label">Name Of Product</label>
				    <input type="text" class="form-control" id="productName">
				  </div>

				  <div class="mb-3">
				  <label for="productCategory" class="form-label">Category</label>
				  <select class="form-select" id="preductCategory">
					  <option value="electronics">Electronics</option>
					  <option value="fashion">Fashion</option>
					  <option value="beverages">Beverages</option>
					  <option value="sports">Sports</option>
					  <option value="others">Others</option>
					</select>
					</div>

				  <div class="mb-3">
				    <label for="productDescription" class="form-label">Product Description</label>
				    <input type="text" class="form-control" id="productDescription">
				  </div>
				  <div class="mb-3">
				    <label for="location" class="form-label">Location</label>
				    <input type="text" class="form-control" id="location">
				  </div>
				  <button type="submit" class="btn btn-primary">Submit</button>
				</form>

			</div>

		</div>


	</div>
	<div class="col-md-3"></div>
</div>





{% endblock %}